pre {
    background-color: #EEE;
}

body, text {
    font-family: Helvetica, sans-serif;
}

.header {
    .title {
        font-size: 22px;
        font-weight: bold;
    }

    .subtitle {
        font-size: 13px;
        // font-weight: bold;
    }
    margin-bottom: 10px;
}

.legends {
    .legend {
        .title {
            font-weight: bold;
            font-size: 13px;
            margin: 3px;
            // display: inline-block;
            // top: -4px;
            position: relative;
            // margin-right: 20px;
        }
        .entries {
            // display: inline-block;
            .entry {
                cursor: pointer;
                display: inline-block;
                margin: 0px 5px;

                svg {
                    display: inline-block;
                    margin-right: 5px;
                    border: 1px solid #BBB;
                    border-radius: 3px;
                }

                &[data-visible="false"] {
                    opacity: 0.3;
                }

                span {
                    top: -4px;
                    display: inline-block;
                    position: relative;
                    font-size: 13px;
                }
            }
        }
        margin: 5px 0;
    }
    // text-align: center;
}

.footer {
    span {
        font-size: 13px;
    }
}

svg {
    g.tick {
        text {
            font-size: 13px;
        }
    }
    .axis-title {
        font-size: 13px;
    }
}


svg.facet {
    g.group, path {
        &[data-visible="false"] {
            opacity: 0.01;
        }
    }

    g.grid {
        stroke: #CCC;
        stroke-width: 0.75px;
    }
    g.hover {
        line {
            stroke: #BBB;
        }
    }
}

.facet-title {
    font-size: 13px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 80px;
}
