pre {
    background-color: #EEE;
}

body, text {
    font-family: Helvetica, sans-serif;
}

.header {
    .title {
        font-size: 22px;
        font-weight: bold;
    }

    .subtitle {
        font-size: 13px;
        // font-weight: bold;
    }
    margin-bottom: 10px;
}

.legends {
    .legend {
        .entry {
            cursor: pointer;
            display: inline-block;
            margin: 0px 5px;

            svg {
                display: inline-block;
                margin-right: 5px;
                border: 1px solid #DDD;
                border-radius: 3px;
            }

            span {
                top: -4px;
                display: inline-block;
                position: relative;
                font-size: 13px;
            }
        }
        margin: 5px 0;
    }
    // text-align: center;
}

.footer {
    span {
        font-size: 13px;
    }
}

svg {
    g.tick {
        text {
            font-size: 13px;
        }
    }
}
